
*.py[cod]

build
devel

profile.tmp

ros/src/twist_controller/brakes.csv

ros/src/twist_controller/steers.csv

ros/src/twist_controller/throttles.csv

data/dbw_test\.rosbag\.bag

ros/src/tl_detector/light_classification/dataset_train_rgb/*
ros/src/tl_detector/light_classification/dataset_test_rgb/*
ros/src/tl_detector/light_classification/traffic_light_images/*